.shows-container {
  display: flex;
  margin: 5vw;
}

.live-show-text {
  flex: 1;
}

.live-show-text > p {
  color: rgb(91, 33, 223);
  font-family: "Saira", sans-serif;
  font-size: 2rem;
  font-weight: 300;
}

.live-show-video {
  flex: 1;
}

.tour-list {
  background: rgb(91, 33, 223);
  padding-top: 100px;
  padding-bottom: 90px;
  margin-right: 12%;
}

.tour-cities {
  color: white;
  list-style-type: none;
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: "Saira", sans-serif;
  font-size: 1.25rem;
}
